html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rajdhani', sans-serif;
}

a {
    text-decoration: none;
}

.App {
    text-align: center;
    width: 100vw;
    /* overflow: hidden; */
}

button:focus {
    outline: none;
}